body { 
    background-color: blueviolet;
}

.sign { 
    color: #74c7b8;
}


.question-section { 
    width: 20%;
}

.congrats {
    font-family: 'Bodoni Moda', serif;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}

button { 
    background-size: cover;
    background-position: center;
}

