.password-phase { 
    font-size: 24px;
    display: inline-block;
    background-color: salmon;
    position: absolute; 
    top: 25%;
    left: 5%;
    border-radius: 20%;
    padding: 1%;
    
}

.el {
    margin: 8px 0;
}

.password-text { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #444;
}

.password-link {
    text-decoration: none;
    color: violet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffcda3;
    margin: 0 auto;
    padding: 1%;
}

.submit {
    background-color:#ffcda3;
    font-size: 1rem;
    padding: 2%;
    font-family: cursive;
    color: #74c7b8;
    margin-left: 5%;
}
.submit:hover {
    background-color:#ebd2be;
    color: #ef4f4f;
}

.pass {
    padding: 2%;
    background-color:#ffcda3;
}